{% extends "base.html" %}

{% block content %}
<h1>Cookie test</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.cookie_text.label }}<br>
        {{ form.cookie_text }}<br>
    </p>
    <p>{{ form.submit() }}</p>
</form>
<span id="output"></span>
<script>
    var session_cookie = parse_session();
    $('#output').html("session cookie currently set to: <b>" + session_cookie['USERCOOKIE'] + "</b>");
    console.log(session_cookie['USERCOOKIE']);

</script>
{% endblock %}